

.hero {
    padding: 20px;
    background-image: url(images/grass.jpg);
    background-size: cover;
    opacity: 0.9;
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1, h2 {
    text-align: center;
    color: whitesmoke;
    background-color: bisque;
}

h1 {
    font-family: GlacialBold, "Arial";
}

h2 {
    margin-top: 60px;
    font-family: Glacial, "Times New Roman";
}

@font-face {
    font-family: Glacial;
    src: url(GlacialIndifference-Regular.otf);
}

@font-face {
    font-family: GlacialBold;
    src: url(GlacialIndifference-Bold.otf);
}

